---

---

<table>
    <thead>
        <tr>
            <th>Tipos para Cadenas de Texto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>char(n)</td>
            <td>
                Una cadena de caracteres de longitud fija que ocupa n bytes. 
                Si la cadena es más corta que n, se llena con espacios
            </td>
        </tr>
        <tr>
            <td>varchar(n)</td>
            <td>
                Una cadena de caracteres de longitud variable que ocupa hasta n bytes. 
                Solo ocupa el espacio necesario para los datos que almacena
            </td>
        </tr>
        <tr>
            <td>text</td>
            <td>
                Una cadena de caracteres de longitud variable que
                puede contener hasta 2^31-1 caracteres
            </td>
        </tr>
        <tr>
            <td>nchar(n)</td>
            <td>
                Similar a char, pero almacena datos Unicode, 
                lo que permite una mayor variedad de caracteres y lenguajes
            </td>
        </tr>
        <tr>
            <td>nvarchar(n)</td>
            <td>
                Similar a varchar, pero almacena datos Unicode
            </td>
        </tr>
        <tr>
            <td>ntext</td>
            <td>
                Similar a text, pero almacena datos Unicode
            </td>
        </tr>
    </tbody>
</table>

<style>
    table {
        padding: 1rem;
        user-select: none;
        align-self: center;
    }

    thead > tr {
        background-color: var(--microsoft-blue-200);
        color: var(--microsoft-blue-950);
        border-radius: 0.5rem;
        padding: 0.3rem;
    }

    tr {
        width: 100%;
        max-width: clamp(35rem, 50vw, 40rem);
        line-height: 2rem;
        text-align: center;
    }

    tbody > tr {
        background-color: var(--microsoft-blue-50);
        border-radius: 0.5rem;
        align-items: center;
        scale: 1;
    }

    tbody > tr:hover {
        background-color: var(--microsoft-blue-100);
    }
    
    th {
        font-weight: 500;
        text-align: center;
        font-size: clamp(1.1rem, 1vw, 1.5rem);
    }

    td:first-child {
        text-align: center;
    }

    td {
        text-align: left;
    }
</style>