---
import primerIcono from "../../assets/primerIcono.png"
import segundoIcono from "../../assets/segundoIcono.png"
import tercerIcono from "../../assets/tercerIcono.png"

import CardInfo from "./CardInfo.astro"

---

<div>
    <CardInfo
        title="Instalación"
        imagePath={primerIcono.src}
        imageAlt="Primer icono"
        background="var(--microsoft-blue-600)"
        color="var(--microsoft-blue-50)"
        href="/instalacion"
    >
        <p>
            Cómo instalar las diferentes
            versiones de SQL Server.
        </p>
        <p>
            Y su configuración básica para el uso diario.
        </p>
    </CardInfo>

    <CardInfo
        title="Introducción"
        imagePath={segundoIcono.src}
        imageAlt="Primer icono"
        background="#E5E5E5"
        color="#2F2F2F"
        href="/sobre-sql"
    >
        <p>
            SQL Server es un sistema de gestión de bases de datos relacional (RDBMS)
            desarrollado y comercializado por Microsoft. 
        </p>
        <p>
            Su función principal es almacenar y recuperar datos utilizados por otras aplicaciones.
        </p>
    </CardInfo>

    <CardInfo
        title="Documentación"
        imagePath={tercerIcono.src}
        imageAlt="Primer icono"
        background="#2F2F2F"
        color="#E5E5E5"
        href="/documentacion"
    >
    <p>
        En esta sección vamos a desglosar la estructura de una base de datos SQL de una forma sencilla
    </p>
    <ul>
        <li>Tipos de datos</li>
        <li>Consultas</li>
        <li>Etcétera</li>
    </ul>
    </CardInfo>
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        text-align: center;
    }

    ul {
        list-style: disc;
        text-align: left;
        padding-block: 0.5rem;
        padding-inline: 1rem;
    }
</style>