---
import Documentation from "../components/DocumentationPage/Documentation.astro";
import Panel from "../components/DocumentationPage/Panel.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Documentacion">

    <main>
        
        <h2 class="fuente-subtitulos tamano-lg">
			Documentación de Microsoft SQL Server
		</h2>
        
        <div>
            <Panel />
            <Documentation />
        </div>

    </main>

</Layout>

<style>

    h2 {
        max-width: 30rem;
		font-weight: 500;
		color: black;
		text-align: center;
    }

    div {
        display: flex;
        width: 100%;
    }

</style>