---
import CardsContainer from '../components/MainPage/CardsContainer.astro';
import Preheader from '../components/Preheader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SQL Server Docs">
	<main>

		<h2 class="fuente-subtitulos tamano-lg">
			Proyecto de documentación de
			SQL Server
		</h2>

		<CardsContainer/>

		<h3 class="fuente-legible">
			Proyecto basado en la página de
			<a href="https://www.microsoft.com/es-es/sql-server/sql-server-downloads">Microsoft</a>
		</h3>

	</main>
</Layout>

<style>

	h2 {
		max-width: 30rem;
		font-weight: 500;
		color: black;
		text-align: center;
	}
	h3 {
		font-weight: 500;
		color: black;
		text-align: center;
	}
	a {
		color: var(--microsoft-blue-950);
		text-decoration : var(--microsoft-blue-800) wavy underline;
	}
</style>