---
import * as SQLSelectExample from "../codes/select-example.md"
import Layout from "../layouts/Layout.astro";


---

<Layout title="Hello">

    <main>
        
        <h2 class="fuente-subtitulos tamano-lg">
			Instalación
		</h2>
        
        

    </main>

</Layout>

<style>

    h2 {
        max-width: 30rem;
		font-weight: 500;
		color: black;
		text-align: center;
    }

</style>