---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Sobre SQL Server">

    <main>
        
        <h2 class="fuente-subtitulos tamano-lg">
			Introducción a Microsoft SQL Server
		</h2>

    </main>

</Layout>

<style>

    h2 {
        max-width: 30rem;
		font-weight: 500;
		color: black;
		text-align: center;
    }

</style>