---

---

<footer transition:name="footer">
    <p>Jasmine Carolina Diaz Hernandez</p>
    <h6>Ningun derecho reservado</h6>
    <ul>
        <li>Inicio: 09/10/2024</li>
        <li>Finalizacion: 14/10/2024</li>
    </ul>

</footer>

<style>
    footer {
        background-color: var(--microsoft-blue-600);
        display: flex;
        justify-content: space-around;
        align-items: center;

        min-height: 5rem;

        justify-self: flex-end;
        color: var(--microsoft-blue-50);
    }

</style>