---
const { ...props } = Astro.props

---

<header transition:name="header">
    <h1 class="fuente-subtitulos tamano-lg">Documentación de SQL Server</h1>
</header>

<style>

    header {
        background-color: var(--microsoft-blue-600);
        color: var(--microsoft-blue-50);
        padding: 2rem;
    }

    h1 {
        font-weight: 400;
        
    }
</style>