---
import { Image } from "astro:assets";
import TablasFilasYColumnas from "../../assets/documentacion/TablasFilasYColumnas.png";
import DataTypeTableNumeric from "./DocumentationComponent/DataTypeTableNumeric.astro";
import DataTypeTableStrings from "./DocumentationComponent/DataTypeTableStrings.astro";
import DataTypeTableDatetime from "./DocumentationComponent/DataTypeTableDatetime.astro";
import DataTypeTableBooleans from "./DocumentationComponent/DataTypeTableBooleans.astro";

---

<section>
    <h2>SQL Server</h2>

    <article>
        <h3>Bases de datos</h3>
        <div>
            <h4>Crear bases de datos</h4>
            <p>
                Codigo e instrucciones para crear una base de datos
            </p>
        </div>
        <div>
            <h4>Eliminar bases de datos</h4>
            <p>
                Codigo e instrucciones para eliminar una base de datos
            </p>
        </div>
    </article>

    <article>
        <h3>Tablas</h3>

        <p>
            Piensa en una tabla como una hoja de cálculo de Excel. 
            Cada tabla almacena datos relacionados en filas y columnas. 
            Por ejemplo, podrías tener una tabla llamada Clientes donde cada fila representa un cliente 
            y cada columna representa información sobre ese cliente (como nombre, apellido, email, etc.).
        </p>

        <h5>Filas</h5>

        <p>
            Cada fila en una tabla es un registro individual. 
            En la tabla Clientes, cada fila podría representar a un cliente específico.
        </p>

        <h5>Columnas</h5>

        <p>
            Cada columna representa un tipo de dato. En la tabla Clientes, 
            podrías tener columnas para ID, Nombre, Apellido, y Email.
        </p>

        <span class="h-fit w-fit">
            <Image src={TablasFilasYColumnas} alt="Ejemplo de tabla SQL (autos)" />
        </span>

        <div>
            <h4>Crear Tabla</h4>
            <p>
                Codigo e instrucciones para crear una tabla
            </p>
        </div>
        <div>
            <h4>Eliminar Tabla</h4>
            <p>
                Codigo e instrucciones para eliminar una tabla
            </p>
        </div>
        <div>
            <h4>Alterar Tabla</h4>
            <p>
                Codigo e instrucciones para alterar una tabla
            </p>
        </div>
    </article>

    <article>
        <h3>Consultas</h3>
        <div>
            <h4>Insertar Datos</h4>
            <p>
                Codigo e instrucciones para insertar datos en una tabla
            </p>
        </div>
        <div>
            <h4>Leer Datos</h4>
            <p>
                Codigo e instrucciones para leer datos de una tabla
            </p>
        </div>
        <div>
            <h4>Actualizar Datos</h4>
            <p>
                Codigo e instrucciones para actualizar datos de una tabla
            </p>
        </div>
        <div>
            <h4>Eliminar Datos</h4>
            <p>
                Codigo e instrucciones para eliminar datos de una tabla
            </p>
        </div>
    </article>

    <article class="tabla-article">
        <h3>Tipos de datos</h3>

        <p>
            Cada columna en una tabla debe tener un tipo de dato que define qué tipo de información puede almacenar.
        </p>

        <DataTypeTableNumeric />

        <DataTypeTableStrings />

        <DataTypeTableDatetime />

        <DataTypeTableBooleans />

    </article>

    <article>
        <h3>Claves</h3>
        <div>
            <h4>Claves primarias</h4>
            <p>
                Codigo e instrucciones para crear una primaria
            </p>
        </div>
        <div>
            <h4>Claves foraneas</h4>
            <p>
                Codigo e instrucciones para crear una clave foranea
            </p>
        </div>
    </article>

</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.1rem;
        gap: 2rem;
    }

    h2 {
        font-weight: 500;
    }
    h3 {
        font-weight: 800;
    }
    h4 {
        font-weight: 700;
    }
    h5 {
        font-weight: 600;
    }

    span {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 1rem;
    }
    
    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    article.tabla-article {
        width: 100%;
        align-items: flex-start;
    }

</style>