---

---

<section>
    <h2>SQL Server</h2>

    <article>
        <h3>Bases de datos</h3>
        <div>
            <h4>Crear bases de datos</h4>
            <p>
                Codigo e instrucciones para crear una base de datos
            </p>
        </div>
        <div>
            <h4>Eliminar bases de datos</h4>
            <p>
                Codigo e instrucciones para eliminar una base de datos
            </p>
        </div>
    </article>

    <article>
        <h3>Tablas</h3>
        <div>
            <h4>Crear Tabla</h4>
            <p>
                Codigo e instrucciones para crear una tabla
            </p>
        </div>
        <div>
            <h4>Eliminar Tabla</h4>
            <p>
                Codigo e instrucciones para eliminar una tabla
            </p>
        </div>
        <div>
            <h4>Alterar Tabla</h4>
            <p>
                Codigo e instrucciones para alterar una tabla
            </p>
        </div>
    </article>

    <article>
        <h3>Consultas</h3>
        <div>
            <h4>Insertar Datos</h4>
            <p>
                Codigo e instrucciones para insertar datos en una tabla
            </p>
        </div>
        <div>
            <h4>Leer Datos</h4>
            <p>
                Codigo e instrucciones para leer datos de una tabla
            </p>
        </div>
        <div>
            <h4>Actualizar Datos</h4>
            <p>
                Codigo e instrucciones para actualizar datos de una tabla
            </p>
        </div>
        <div>
            <h4>Eliminar Datos</h4>
            <p>
                Codigo e instrucciones para eliminar datos de una tabla
            </p>
        </div>
    </article>

    <article class="tabla-article">
        <h3>Tipos de datos</h3>
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>char(n)</td>
                    <td>Descripcion del tipo char(n)</td>
                </tr>
                <tr>
                    <td>varchar(n)</td>
                    <td>Descripcion del tipo varchar(n)</td>
                </tr>
                <tr>
                    <td>varchar(max)</td>
                    <td>Descripcion del tipo varchar(max)</td>
                </tr>
                <tr>
                    <td>text</td>
                    <td>Descripcion del tipo text</td>
                </tr>
                <tr>
                    <td>nchar</td>
                    <td>Descripcion del tipo nchar</td>
                </tr>
                <tr>
                    <td>nvarchar</td>
                    <td>Descripcion del tipo nvarchar</td>
                </tr>
                <tr>
                    <td>nvarchar(max)</td>
                    <td>Descripcion del tipo nvarchar(max)</td>
                </tr>
                <tr>
                    <td>ntext</td>
                    <td>Descripcion del tipo ntext</td>
                </tr>
                <tr>
                    <td>binary(n)</td>
                    <td>Descripcion del tipo binary(n)</td>
                </tr>
                <tr>
                    <td>varbinary</td>
                    <td>Descripcion del tipo varbinary</td>
                </tr>
                <tr>
                    <td>varbinary(max)</td>
                    <td>Descripcion del tipo varbinary(max)</td>
                </tr>
                <tr>
                    <td>image</td>
                    <td>Descripcion del tipo image</td>
                </tr>
            </tbody>
        </table>
    </article>

    <article>
        <h3>Claves</h3>
        <div>
            <h4>Claves primarias</h4>
            <p>
                Codigo e instrucciones para crear una primaria
            </p>
        </div>
        <div>
            <h4>Claves foraneas</h4>
            <p>
                Codigo e instrucciones para crear una clave foranea
            </p>
        </div>
    </article>

</section>

<style>
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.1rem;
        gap: 2rem;
    }

    h2 {
        font-weight: 500;
    }
    
    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    article.tabla-article {
        width: 100%;
        align-items: center;
    }

    table {
        padding: 1rem;
        user-select: none;
    }

    thead > tr {
        background-color: var(--microsoft-blue-200);
        color: var(--microsoft-blue-950);
        border-radius: 0.5rem;
        padding: 0.3rem;
    }

    tr {
        width: 100%;
        max-width: clamp(35rem, 50vw, 40rem);
        line-height: 2rem;
        text-align: center;
    }

    tbody > tr {
        background-color: var(--microsoft-blue-50);
        border-radius: 0.5rem;
        cursor: pointer;
        scale: 1;
        transition: scale 50ms;
    }

    tbody > tr:hover {
        background-color: var(--microsoft-blue-100);
    }

    tbody > tr:active {
        background-color: var(--microsoft-blue-100);
        scale: 0.97;
    }
    
    th {
        font-weight: 500;
        text-align: center;
        font-size: clamp(1.1rem, 1vw, 1.5rem);
    }

    td:first-child {
        text-align: center;
    }

    td {
        text-align: left;
    }

</style>