---
import HideToggler from "./PanelComponent/HideToggler.astro";

---


<aside id="panel">
    <section>
        <h3 class="fuente-subtitulos">
            Búsqueda rápida
        </h3>
        <article>
            <h4 class="fuente-legible">
                <a href="#bases-de-datos">Bases de datos</a>
            </h4>
            <ul>
                <a href="#crear-bases-de-datos">Crear bases de datos</a>
                <a href="#eliminar-bases-de-datos">Eliminar bases de datos</a>
            </ul>
        </article>

        <article>
            <h4 class="fuente-legible">
                <a href="#consultas">Consultas</a>
            </h4>
            <ul>
                <a href="#consulta-definicion">Definicion</a>
                <a href="#consulta-funcion">Funcionamiento</a>
                <a href="#consulta-uso">Funcion</a>
            </ul>
        </article>

        <article>
            <h4 class="fuente-legible">
                <a href="#tablas">Tablas</a>
            </h4>
            <ul>
                <a href="#crear-tabla">Crear tabla</a>
                <a href="#eliminar-tabla">Eliminar tabla</a>
                <a href="#alterar-tabla">Alterar tabla</a>
            </ul>
        </article>

        <article>
            <h4 class="fuente-legible">
                <a href="#queries">Queries</a>
            </h4>
            <ul>
                <a href="#insertar-datos">Insertar Datos</a>
                <a href="#leer-datos">Leer Datos</a>
                <a href="#actualizar-datos">Actualizar Datos</a>
                <a href="#eliminar-datos">Eliminar Datos</a>
            </ul>
        </article>

        <article>
            <h4 class="fuente-legible">
                <a href="#tipos-de-datos">Tipos de datos</a>
            </h4>
            <ul>
                <a href="#tipos-numericos">Tipos numéricos</a>
                <a href="#tipos-cadenas-de-texto">Tipos de cadenas de texto</a>
                <a href="#tipos-tipos-fecha-hora">Tipos para fechas</a>
                <a href="#tipos-booleanos">Tipos de boleanos</a>
            </ul>
        </article>

        <article>
            <h4 class="fuente-legible">
                <a href="#claves">Claves</a>
            </h4>
            <ul>
                <a href="#claves-primarias">Claves primarias</a>
                <a href="#claves-foraneas">Claves foraneas</a>
            </ul>
        </article>

    </section>


    <HideToggler/>

</aside>

<style>

    aside {
        background-color: var(--microsoft-blue-50);

        display: flex;
        flex-direction: column;
        width: var(--panel-tamano);
        height: inherit;
        border-right: 1px var(--microsoft-blue-darker);
        gap: 1rem;
        padding : clamp(0rem, 1vw, 1rem);

        position: var(--panel-position);
        inset-block: 0;
        margin-block: var(--panel-margin);

        transform: var(--panel-desactivado);
        transition: transform 500ms;
    }
    .esconder {
        transform: var(--panel-activado);
    }

    h3 {
        width: 100%;
        text-align: center;
        font-weight: 500;

        font-size: clamp(1rem, 1vw, 2rem);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;
        position: sticky;
        height:100vh;
        top: 0;

        overflow-y: auto;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        user-select: none;
    }

    h4 {
        width: 100%;
        font-weight: 400;
        text-decoration: underline;
        line-height: 1.5rem;
    }
    h4:hover {
        color: var(--microsoft-blue-800);
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    ul > a:hover {
        color: var(--microsoft-blue-800);
        text-decoration: underline;
        cursor: pointer;
    }

</style>